<footer class="site-footer">
  <div class="site-footer-inner">
    <span><%= ((theme_config('footer', {}) || {}).text) || config.author || 'Hexo 主题' %></span>
    <span>为 CTF / 网络安全研究而设计</span>
  </div>
</footer>
